body {
	background-color: white;
	color: #333333;
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
}
.page {
	display: grid;
	grid-template-columns: 30% auto;
}

.g1 {
	position: fixed;
	width: 30%;
	text-align: right;
	margin-top: 300px;
	border: 1px solid black;
}

.g2 {
	grid-column-start: 2;
	margin-top: 300px;
	border: 1px solid blue;
}

