* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  color: #444;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.color {
  color: #0645ad;
}

.active {
  color: #444 !important;
  font-weight: 900 !important;
}

.active:hover {
  border-bottom: 1px solid #444 !important;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 52em;
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
}

#wrapper__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0 35px 0;
}

#wrapper__head--name {
  font-size: 25px;
  color: #444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper__head--name img {
  max-width: 5vh;
  margin-right: 10px;
}

#wrapper__head__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#wrapper__head__navigation li {
  margin-right: 20px;
}

#wrapper__head__navigation li:last-child {
  margin-right: 0;
}

#wrapper__head__navigation li a {
  font-size: 16px;
  color: #0645ad;
}

#wrapper__head__navigation li a::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #0645ad;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
}

#wrapper__head__navigation li a:hover::after {
  width: 100%;
}

#wrapper--back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

#wrapper--back a {
  color: #444;
  padding-bottom: 1px;
}

#wrapper--back a:hover {
  border-bottom: 1px solid #444;
  padding-bottom: 0;
}

#wrapper--back img {
  max-width: 25px;
  height: auto;
  margin-right: 10px;
}

#wrapper__main {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 100px auto;
  cursor: default;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  /*TABLE*/
  /*TABLE END*/
}

#wrapper__main__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrapper__main__navigation li {
  margin-right: 2px;
}

#wrapper__main--title {
  margin-top: 20px;
}

#wrapper__main--subtitle {
  margin: 20px 0 20px 0;
}

#wrapper__main--genre {
  font-weight: 700;
}

#wrapper__main__contact {
  border-bottom: 1px solid #444;
  width: 60%;
  margin: 0 auto;
  line-height: 30px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#wrapper__main__contact--email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}

#wrapper__main__contact--email a {
  color: #444;
  padding-bottom: 1px;
  cursor: pointer;
}

#wrapper__main__contact--email a:hover {
  border-bottom: 1px solid #444;
  padding-bottom: 0;
}

#wrapper__main__contact--email img {
  max-width: 25px;
  height: auto;
  margin-right: 10px;
}

#wrapper__main__project {
  border-bottom: 1px solid #444;
  width: 60%;
  margin: 0 auto;
  line-height: 30px;
  padding: 20px;
}

#wrapper__main__project--title {
  margin-bottom: 15px;
}

#wrapper__main__project--title a {
  color: #444;
  font-size: 1.5em;
}

#wrapper__main__project--title a:hover {
  color: #0645ad;
}

#wrapper__main__project--lang, #wrapper__main__project--info, #wrapper__main__project--git {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper__main__project--lang img, #wrapper__main__project--info img, #wrapper__main__project--git img {
  max-width: 25px;
  height: auto;
  margin-right: 10px;
}

#wrapper__main__project--lang a, #wrapper__main__project--info a, #wrapper__main__project--git a {
  color: #444;
}

#wrapper__main__project--lang a:hover, #wrapper__main__project--info a:hover, #wrapper__main__project--git a:hover {
  color: #0645ad;
}

#wrapper__main__library {
  border-bottom: 1px solid #444;
  width: 60%;
  margin: 0 auto;
  line-height: 30px;
  padding: 20px;
}

#wrapper__main__library li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper__main__library img {
  max-width: 25px;
  height: auto;
  margin-right: 10px;
}

#wrapper__main__library--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 19px;
  padding-bottom: 1px;
  margin-bottom: 1px;
  color: #444;
}

#wrapper__main__library--item:hover {
  border-bottom: 1px solid #444;
  padding-bottom: 0;
}

#wrapper__main table.blueTable {
  margin-bottom: 40px;
  border: 1px solid #1C6EA4;
  background-color: #FFFFFF;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

#wrapper__main table.blueTable td, #wrapper__main table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}

#wrapper__main table.blueTable tbody td {
  font-size: 13px;
}

#wrapper__main table.blueTable tr:nth-child(even) {
  background: #F6F8FA;
}

#wrapper__main table.blueTable thead {
  background: #FFFFFF;
  border-bottom: 1px solid #444444;
}

#wrapper__main table.blueTable thead th {
  width: 40%;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #444;
  border-left: 2px solid #D0E4F5;
}

#wrapper__main table.blueTable thead th:first-child {
  border-left: none;
}

#wrapper__main table.blueTable tfoot td {
  font-size: 14px;
}

#wrapper__main table.blueTable tfoot .links {
  text-align: right;
}

#wrapper__main table.blueTable tfoot .links a {
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

#wrapper__main__articles {
  border-bottom: 1px solid #444;
  width: 60%;
  margin: 0 auto;
  line-height: 30px;
  padding: 20px;
  width: 100%;
}

#wrapper__main__articles--title {
  font-size: 2em;
  text-align: center;
}

#wrapper__main__articles--author {
  color: #5a5a5a;
}

#wrapper__main__articles--author:hover {
  color: #000;
}

#wrapper__main__articles--content {
  margin: 20px 0 20px 0;
}

#wrapper__main__articles--list {
  list-style: circle;
}

#wrapper__main__articles--list li span {
  margin-right: 10px;
}

#wrapper__main__articles--list li a {
  color: #000;
}

#wrapper__main__articles--list li a:hover {
  color: #5a5a5a;
}

#wrapper__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

#wrapper__footer--name {
  color: #444;
  padding-bottom: 1px;
}

#wrapper__footer--name:hover {
  border-bottom: 1px solid #444;
  padding-bottom: 0;
}

#wrapper__footer--github img {
  max-width: 25px;
  height: auto;
  margin-bottom: 2px;
}

#wrapper__footer__country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
}

#wrapper__footer__country--geo {
  max-width: 25px;
  height: auto;
}
/*# sourceMappingURL=main.css.map */