$dark-color: #444;
$blue-color: #0645ad;

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    color: $dark-color;
}

@mixin block {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
}

@mixin image {
    max-width: 25px;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.active {
    color: $blue-color !important;

    &::after {
        background: $blue-color !important;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 52em;
    margin: 0 auto;
    padding: 0 20px;
    min-height: 100vh;
    overflow: hidden;

    &__head {
        display: flex;
        justify-content: space-between;
        margin: 30px 0 35px 0;
        &__name {
            font-size: 25px;
            color: $dark-color;
            display: flex;
            align-items: center;

            img {
                max-width: 40px;
                margin-right: 10px;
            }
        }

        &__navigation {
            display: flex;
            align-self: flex-end;

            li {
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                }

                a { 
                    font-size: 16px;
                    color: $dark-color;

                    &::after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 1px;
                        background: $dark-color;
                        transition: .3s;
                        position: relative;
                    }
    
                    &:hover::after{
                        width: 100%;
                    }
                }
            }
        }
    }

    &__back {
        display: flex;
        align-items: center;
        margin-bottom: 50px;

        a {
            color: $dark-color;

            &::after {
                content: '';
                display: block;
                width: 0;
                height: 1px;
                background: $dark-color;
                transition: .3s;
                position: relative;
            }

            &:hover::after{
                width: 100%;
            }
        }

        img {
            @include image;
            width: 1.5em;
            margin-right: 10px;
        }
    }


    &__main {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto 100px auto;
        cursor: default;

        &__navigation {
            display: flex;
            
            li {
                margin-right: 2px;
            }
        }

        &__title {
            margin: 20px 0 20px 0;

            &--color {
                color: $blue-color;
            }
        }

        &__subtitle {
            margin: 20px 0 20px 0;

            &--color {
                color: $blue-color;
            }
        }

        &__genre {
            font-weight: 700;
        }

        &__contact {
            @include block;
            border-bottom: none;
            display: flex;
            flex-direction: column;

            &__email {
                display: flex;
                align-items: center;
                margin-top: auto;

                a {
                    color: $dark-color;
                    cursor: pointer;

                    &::after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 1px;
                        background: $dark-color;
                        transition: .3s;
                        position: relative;
                    }
    
                    &:hover::after{
                        width: 100%;
                    }
                }
        
                img {
                    @include image;
                    margin-right: 10px;
                }
            }
        }

        &__project {
            @include block;
            display: flex;
            flex-direction: column;
            height: 120px;
            justify-content: space-between;

            &__title {
                margin-bottom: 10px;
                font-weight: 700;

                a {
                    color: $dark-color;
                    font-size: 110%;
                    &:hover {
                        color: $blue-color;
                    }
                }
            }

            &__lang, &__info, &__git {
                display: flex;
                align-items: center;

                img {
                    @include image;
                    margin-right: 10px;
                }

                a {
                    color: $dark-color;
                    &:hover {
                        color: $blue-color;
                    }
                }
            }
        }

        &__library {
            @include block;
            border-bottom: none;

            li{
                display: flex;
                align-items: center;
            }

            img {
                @include image;
                margin-right: 10px;
                width: 1.8em;
            }

            &__item {
                display: flex;
                align-items: center;
                color: $dark-color;

                &:hover {
                    color: $blue-color;
                }
            }
        }


                        /*TABLE*/

            &__table {
                margin-bottom: 40px;
                border: 1px solid #1C6EA4;
                background-color: #FFFFFF;
                width: 100%;
                text-align: left;
                border-collapse: collapse;
            }
            &__table td, &__table th {
                border: 1px solid #AAAAAA;
                padding: 3px 2px;
            }
            &__table tbody td {
                font-size: 13px;
            }
            &__table tr:nth-child(even) {
                background: #F6F8FA;
            }
            &__table thead {
                background: #FFFFFF;
                border-bottom: 1px solid #444444;
            }
            &__table thead th {
                width: 40%;
                font-size: 15px;
                font-weight: bold;
                text-align: center;
                color: $dark-color;
                border-left: 2px solid #D0E4F5;
            }
            &__table thead th:first-child {
                border-left: none;
            }
            
            &__table tfoot td {
                font-size: 14px;
            }
            &__table tfoot .links {
                text-align: right;
            }
            &__table tfoot .links a{
                display: inline-block;
                background: #1C6EA4;
                color: #FFFFFF;
                padding: 2px 8px;
                border-radius: 5px;
            }

                    /*TABLE END*/

                    

&__articles {
    @include block;

    &__title {
        font-size: 2em;
        text-align: center;
    }

    &__author {
            color: rgb(90, 90, 90);
            
            &:hover {
                color: #000;
            }
    }

    &__content {
        margin: 20px 0 20px 0;
        width: 100%;
    }

    &__list {
        list-style: circle;
        
        li {
            span {
                margin-right: 10px;
            }

            a {
                color: #000;
                
                &:hover {
                    color: rgb(90, 90, 90);
                }
            }
        }
    }
}

}

    &__footer {
        display: flex;
        margin-top: auto;
        justify-content: flex-end;
        align-items: center;
        font-size: 15px;
        padding: 10px;

        &__name {
            color: $dark-color;

            &::after {
                content: '';
                display: block;
                width: 0;
                height: 1px;
                background: $dark-color;
                transition: .3s;
                position: relative;
            }

            &:hover::after{
                width: 100%;
            }
        }

        &__github {
            margin-left: 10px;
            img {
                @include image;
            }
        }
    }
}
