* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.color {
  color: #3593F7;
  font-weight: 700;
}

.active {
  color: #333 !important;
  font-weight: 900 !important;
}

.active:hover {
  border-bottom: 1px solid #333 !important;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 50%;
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
}

#wrapper__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  margin: 50px 0 35px 0;
  border-bottom: 0px solid #333;
  -webkit-box-shadow: 0 7px 5px -7px #dbe3eb;
          box-shadow: 0 7px 5px -7px #dbe3eb;
}

#wrapper__head--name {
  font-weight: 900;
  font-size: 43px;
  color: #333;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#wrapper__head__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 4px;
}

#wrapper__head__navigation li {
  margin-right: 20px;
}

#wrapper__head__navigation li:last-child {
  margin-right: 0;
}

#wrapper__head__navigation li a {
  font-weight: 700;
  font-size: 16px;
  color: #3593F7;
}

#wrapper__head__navigation li a:hover {
  border-bottom: 1px solid #3593F7;
}

#wrapper--back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

#wrapper--back a {
  color: #000;
  padding-bottom: 1px;
}

#wrapper--back a:hover {
  border-bottom: 1px solid #333;
  padding-bottom: 0;
}

#wrapper--back img {
  max-width: 25px;
  height: auto;
  margin-right: 10px;
}

#wrapper__main {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px auto 100px auto;
  cursor: default;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  /*TABLE*/
  /*TABLE END*/
}

#wrapper__main__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrapper__main__navigation li {
  margin-right: 2px;
}

#wrapper__main--title {
  text-indent: 1.5em;
  font-size: 18px;
  margin-top: 20px;
}

#wrapper__main--subtitle {
  margin: 20px 0 20px 0;
}

#wrapper__main--genre {
  font-weight: 700;
}

#wrapper__main__list {
  width: 500px;
  list-style-type: square;
  margin-left: 3em;
}

#wrapper__main__list li:nth-child(2n+1) {
  color: #3593F7;
}

#wrapper__main__contact {
  border-bottom: 1px solid #333;
  width: 60%;
  margin: 0 auto;
  line-height: 30px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#wrapper__main__contact--email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  /*TOOLTIP*/
  /*TOOLTIP*/
}

#wrapper__main__contact--email--em {
  position: relative;
  display: inline-block;
}

#wrapper__main__contact--email--em::before, #wrapper__main__contact--email--em::after {
  display: block;
  position: absolute;
  margin-bottom: 10px;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

#wrapper__main__contact--email--em::before {
  content: attr(data-title);
  bottom: 30px;
  margin-left: -100px;
  width: 200px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.85);
  text-align: center;
  font-size: .9em;
  font-weight: normal;
  color: #fff;
  border-radius: 5px;
  line-height: 16px;
}

#wrapper__main__contact--email--em::after {
  content: '';
  border-top: 10px solid rgba(0, 0, 0, 0.85);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-left: -10px;
  bottom: 20px;
}

#wrapper__main__contact--email a:hover #wrapper__main__contact--email--em::before,
#wrapper__main__contact--email a:hover #wrapper__main__contact--email--em::after {
  opacity: 1;
  visibility: visible;
  margin-bottom: 0;
}

#wrapper__main__contact--email a {
  color: #000;
  padding-bottom: 1px;
  cursor: pointer;
}

#wrapper__main__contact--email a:hover {
  border-bottom: 1px solid #333;
  padding-bottom: 0;
}

#wrapper__main__contact--email img {
  max-width: 25px;
  height: auto;
  margin-right: 10px;
}

#wrapper__main__contact--telegram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}

#wrapper__main__contact--telegram a {
  color: #000;
  padding-bottom: 1px;
}

#wrapper__main__contact--telegram a:hover {
  border-bottom: 1px solid #333;
  padding-bottom: 0;
}

#wrapper__main__contact--telegram img {
  max-width: 25px;
  height: auto;
  margin-right: 10px;
}

#wrapper__main__project {
  border-bottom: 1px solid #333;
  width: 60%;
  margin: 0 auto;
  line-height: 30px;
  padding: 20px;
}

#wrapper__main__project--title {
  margin-bottom: 15px;
}

#wrapper__main__project--title a {
  color: #000;
  font-size: 1.5em;
}

#wrapper__main__project--title a:hover {
  color: #3593F7;
}

#wrapper__main__project--lang, #wrapper__main__project--info, #wrapper__main__project--git {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper__main__project--lang img, #wrapper__main__project--info img, #wrapper__main__project--git img {
  max-width: 25px;
  height: auto;
  margin-right: 10px;
}

#wrapper__main__project--lang a, #wrapper__main__project--info a, #wrapper__main__project--git a {
  color: #000;
}

#wrapper__main__project--lang a:hover, #wrapper__main__project--info a:hover, #wrapper__main__project--git a:hover {
  color: #3593F7;
}

#wrapper__main__library {
  border-bottom: 1px solid #333;
  width: 60%;
  margin: 0 auto;
  line-height: 30px;
  padding: 20px;
}

#wrapper__main__library li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper__main__library img {
  max-width: 25px;
  height: auto;
  margin-right: 10px;
}

#wrapper__main__library--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 19px;
  padding-bottom: 1px;
  margin-bottom: 1px;
  color: #000;
}

#wrapper__main__library--item:hover {
  border-bottom: 1px solid #333;
  padding-bottom: 0;
}

#wrapper__main table.blueTable {
  margin-bottom: 40px;
  border: 1px solid #1C6EA4;
  background-color: #FFFFFF;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

#wrapper__main table.blueTable td, #wrapper__main table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}

#wrapper__main table.blueTable tbody td {
  font-size: 13px;
}

#wrapper__main table.blueTable tr:nth-child(even) {
  background: #F6F8FA;
}

#wrapper__main table.blueTable thead {
  background: #FFFFFF;
  border-bottom: 1px solid #444444;
}

#wrapper__main table.blueTable thead th {
  width: 40%;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  border-left: 2px solid #D0E4F5;
}

#wrapper__main table.blueTable thead th:first-child {
  border-left: none;
}

#wrapper__main table.blueTable tfoot td {
  font-size: 14px;
}

#wrapper__main table.blueTable tfoot .links {
  text-align: right;
}

#wrapper__main table.blueTable tfoot .links a {
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

#wrapper__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 -9px 5px -7px #dbe3eb;
          box-shadow: 0 -9px 5px -7px #dbe3eb;
  padding-top: 10px;
}

#wrapper__footer--name {
  color: #333;
  padding-bottom: 1px;
}

#wrapper__footer--name:hover {
  border-bottom: 1px solid #333;
  padding-bottom: 0;
}

#wrapper__footer--github img {
  max-width: 25px;
  height: auto;
  margin-bottom: 2px;
}

#wrapper__footer__country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
}

#wrapper__footer__country--geo {
  max-width: 25px;
  height: auto;
}
/*# sourceMappingURL=main.css.map */