body {
	background-color: white;
	color: #333333;
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	min-height: 100%;
}

.page {
	display: grid;
	grid-template-columns: 30% auto;
}

.g1 {
	padding-top: 100px;
	background-color: #F1F4FE;
	position: fixed;
	width: 30%;
	height: 100vh;
	border-right: 1px solid #e7ecfd;
}

.g2 {
	padding-top: 100px;
	padding-left: 40px;
	grid-column-start: 2;
	font-size: 20px;
}

.name {
	font-size: 22px;
	padding: 20px 30px 0 0;
	color: #305CF8;
	text-decoration: none;
}

.leftbar {
	float: right;
}

.nav{
	margin-top: 20%;
}

.nnav{
	font-size: 19px;
}

.links_nav li a {
	text-decoration: none;
	color: #305CF8;
	font-size: 17px;
}

.links_nav li a:hover {
	color: black;
}

.links_nav li {
	list-style: none;
	margin: 8px;
}

.links {
	margin-top: 20%;
}

.slinks{
	font-size: 19px;
}

.links_navbar li a {
	text-decoration: none;
	color: #305CF8;
	font-size: 17px;
}

.links_navbar li a:hover {
	color: black;
}

.links_navbar li {
	list-style: none;
	margin: 8px;
}

.links_navbar li i {
	font-size: 1.5em;
}

#ds, #tl, #em {
	display: inline-block;
	height: 28px;
	width: 80px;
	padding: 3px 8px;
	margin-left: 10px;
	border-radius: 3px;
	box-sizing: border-box;
	text-decoration:none;
	font-weight: 400;
	color: #F0FFFF;
	background-color: #305CF8;
	text-align:center;
	transition: all .3s;
	font-size: 17px !important;
	top: auto;
}

#ds:hover {
	background-color:#87CEFA;
}

#tl:hover {
	background-color:#87CEFA;
}

#em:hover {
	background-color:#87CEFA;
}


#omnie, #portfolio, #kontakt {

	font-size: 1.5em;
}