
@media only screen and (max-width: 600px) { 
    .wrapper{

        &__head {
            flex-direction: column;

            &__name {
                font-size: 28px;
                align-self: center;
                margin-bottom: 10px;
                flex-direction: column;
            }
        
            &__navigation {
                align-self: center;

                li {
                    a {
                        &::after {
                            display: none;
                        }    
                    }
                }
            }
        }


        &__main {
            margin: 0 20px !important;

            &__subtitle {
                margin-right: 10vh !important;
            }

            &__project {
                &__title {
                    margin-right: 4vh !important;
                }
            }

            table.blueTable {
                width: 85%;
            }
        }

        &__back {
            margin-left: 10px;
        }
    }
}