
@media only screen and (max-width: 600px) {
    #wrapper__head {
        flex-direction: column;

        &--name {
            font-size: 28px;
            align-self: center;
            margin-bottom: 10px;
            flex-direction: column;
        }
    
        &__navigation {
            align-self: center;
        }
    }
    
    #wrapper__footer {
        flex-direction: column;
    }
}